body{
    background-color: black;
    color: whitesmoke;
}

#image{
    margin-left: 38%;
    height: 260px;
    width: 330px;
}

#heading{
    margin-left: 37%;
}

#zero{
    margin-left: 47%;
    
    font-size: 30px;
}

#button{
    margin-left: 45%;
}

button:hover{
    background-color: black;
    color: whitesmoke;
    font-weight: bolder;
    border-radius: 1%;
    box-shadow: 1%;
    padding: 1%;
}
